<% include partials/header.ejs %>

       <!-- About Section -->
        
        <div id='header' class='container text-center'>
            <h1>Grassfed Logo</h1>
        </div>
        
        <div class='container about-section'>
            <div class='row text-center'>
                <p><em>A gathering for Disconauts, House heads, Lovers, Haters and Burners. Creating a space for all to awaken themselves with eurphoric dance and music. A shared goal of cultivating our local scene, feeding our local community. Come let yourself loose with a positive environment of Disco, boogie and love.</em></p>
                <p><em>Locally sourced, 100% natural</em></p>
            </div>
            <div class='row summary'>
                <p>Lorem ipsum dolor sit amet, mea discere urbanitas maiestatis te. Eum ut vero legere option, eum feugait voluptatum cu, harum decore recteque duo ne. Ex eam debet patrioque maiestatis, ut nam appetere instructior, ex sea accusata laboramus. Sit nulla temporibus theophrastus ad, cu his harum molestie temporibus. At ius erant laboramus, ea dicunt sapientem sit, cibo facilis fierent ex pro.</p>

                <p>Ea sit luptatum probatus, vix nihil tempor ut. In qui facete salutandi dissentiet. Per at dolore epicurei salutandi, te veri expetenda eum, eum cu errem suavitate dissentiet. Duo ex nonumes iracundia. Mei an diam mazim.</p>

                <p>Vivendum rationibus nam ei, vel integre vituperatoribus ut. Per ea noluisse neglegentur. Sed ut accusam epicuri, his dicat nihil ignota ne. Brute aeterno et vim, cu eum forensibus mediocritatem.</p>

                <p>Eu per solet corrumpit dignissim, malis persius complectitur pro an. Facilis petentium vis id, ex legimus ocurreret sed, elitr accommodare eos ex. Est saepe utinam everti cu, eum velit omnium at, errem nominavi mei ea. Ne assum congue interesset ius.</p>

                <p>Solet percipit aliquando ne sit, ei liber consul est. Nec dicam officiis eu, cu nec clita incorrupte. Rebum malis ut pro, his cu mutat adhuc abhorreant. Qui ei agam errem, scripta fabellas prodesset mea at, in nonumes feugait dissentiunt qui. Ea duo labore dictas, eam dico eros contentiones no. Id eos simul zril animal.</p>
             
            </div>
        </div>
        
        <!-- Mailing List Form -->
        
        <div id='mailing-list' class='container'>
            <div class='row text-center'>
                <p><em>Join the mailing list to receive email notifactions about Grassfed news and events</em></p>
            </div>
            <div class='row text-center'>
                <form class="form-inline">
                    <label for="inlineFormInput">Name</label>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="First Name / Last Name">

                    <label id='email-label' for="inlineFormInput">Email</label>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Your Email Address">

                    <button type="submit" class="btn btn-outline-primary btn-lg">Sign Up</button>
                </form>
            </div>
        </div>
        
        <!-- Footer -->
        
        <div class='container-fluid footer'>
            <div class='col-12'>
                <div class='text-center'>
                    <h2>Grassfed Disco</h2>
                    <h3>House / Disco / Love</h3>
                    <h3>Boston, MA</h3>
                    <h3>&copy 2017</h3>
                </div>
            </div>
        </div>
        
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Custom CSS -->
        <link rel='stylesheet' href="/stylesheets/about.css">
    </body>
</html>