<% include partials/header.ejs %>

        <!-- Event Flyer -->
        
        <div class='jumbotron'>
            <div class='container center-block'>
                <div class='row'>
                    <div class='col-md-12 col-1'>
                        <img src="/Events/Upcoming/GrassfedDisco7.jpg" alt='Grassfed July 2017 Flyer'> 
                    </div>
                </div>
            </div>
        </div>
        
        <div class='container'>
            <div class='row'>
                <div class="col-md-6 text-center">
                    <button type='button' class="btn btn-outline-primary btn-lg"><a target='_blank' href='#'>Buy Tickets</a></button>
                </div>
                <div class="col-md-6 text-center">
                    <a target='_blank' href='https://www.facebook.com/events/226980544473251/?ref=br_rs'><button type='button' id='event-info' class="btn btn-outline-primary btn-lg">Event Info</button></a>
                </div>
            </div>
        </div>
            
        
        
        <!-- Mailing List Form -->
        
            <div class='container text-center'>
            <div id='mailing-list'>
                <div class='row text-center'>
                    <p><em>Join the mailing list to receive email notifactions about Grassfed news and events</em></p>
                </div>
                <div class='row text-center'>
                    <form class="form-inline">
                        <label for="inlineFormInput">Name</label>
                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="First Name / Last Name">

                        <label id='email-label' for="inlineFormInput">Email</label>
                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Your Email Address">

                        <button type="submit" class="btn btn-outline-primary btn-lg sign-up">Sign Up</button>
                    </form>
                </div>
            </div>
            </div>
        
        
        <!-- Footer -->
        
        <div class='container-fluid footer'>
            <div class='col-12'>
                <div class='text-center'>
                    <h2>Grassfed Disco</h2>
                    <h3>House / Disco / Love</h3>
                    <h3>Boston, MA</h3>
                    <h3>&copy 2017</h3>
                </div>
            </div>
        </div>
        
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
            
        <!-- Custom CSS -->
        <link rel='stylesheet' href="/stylesheets/upcoming-events.css">
            
    </body>
</html>

