<% include partials/header.ejs %>

        <!-- Past Event Flyers -->
        
        <div class='jumbotron'>
        <div class='container center-block'>
            <div class='row'>
                <div class='col-1'>
                    <img id='first-image' src='/Events/Past/GrassfedDisco6.jpg' class='img-fluid' alt='June 2017 Grassfed Flyer'>
                </div>
            </div>
            <div class='row'>
                <div class='col-1'>
                    <img src='/Events/Past/GrassfedDisco5.jpg' class='img-fluid' alt='May 2017 Grassfed Flyer'>
                </div>
            </div>
            <div class='row'>
                <div class='col-1'>
                    <img src='/Events/Past/GrassfedDisco4.jpg' class='img-fluid' alt='April 2017 Grassfed Flyer'>
                </div>
            </div>
            <div class='row'>
                <div class='col-1'>
                    <img src='/Events/Past/GrassfedDisco3.jpg' class='img-fluid' alt='March 2017 Grassfed Flyer'>
                </div>
            </div>
            <div class='row'>
                <div class='col-1'>
                    <img src='/Events/Past/GrassfedDisco2.jpg' class='img-fluid' alt='February 2017 Grassfed Flyer'>
                </div>
            </div>
            <div class='row'>
                <div class='col-1'>
                    <img id='last-image' src='/Events/Past/GrassfedDisco1.jpg' class='img-fluid' alt='January 2017 Grassfed Flyer'>
                </div>
            </div>
        </div>
        </div>
        
        <!-- Mailing List Form -->
        
        <div id='mailing-list' class='container'>
            <div class='row text-center'>
                <p><em>Join the mailing list to receive email notifactions about Grassfed news and events</em></p>
            </div>
            <div class='row text-center'>
                <form class="form-inline">
                    <label for="inlineFormInput">Name</label>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="First Name / Last Name">

                    <label id='email-label' for="inlineFormInput">Email</label>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Your Email Address">

                    <button type="submit" class="btn btn-outline-primary btn-lg">Sign Up</button>
                </form>
            </div>
        </div>
        
        <!-- Footer -->
        
        <div class='container-fluid footer'>
            <div class='col-12'>
                <div class='text-center'>
                    <h2>Grassfed Disco</h2>
                    <h3>House / Disco / Love</h3>
                    <h3>Boston, MA</h3>
                    <h3>&copy 2017</h3>
                </div>
            </div>
        </div>
        
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Custom CSS -->
        <link rel='stylesheet' href="/stylesheets/past-events.css">
    </body>
</html>