/* Navbar */

.navbar-inverse .navbar-nav>li>a {
    color: white; 
}

/* Navbar Psuedo Classes */

.navbar-inverse .navbar-nav>li>a:hover {
    color: black; 
    background-color: white; 
}

.navbar-inverse .navbar-nav>li>a:active {
    color: black; 
    background-color: white; 
}

#fb-nav:hover {
    color: white; 
    background-color: #3b5998; 
}

#sc-nav:hover {
    color: white; 
    background-color: #ff7700; 
    
}

/* Header */

#header {
    margin-top: 10%; 
}

/* General Body Formatting */

.about-section {
    border: 2px solid black; 
    margin-top: 5%; 
    padding: 2.5%; 
}

.summary {
    margin-top: 5%; 
}

/* Mailing List */

#mailing-list {
    border: 2px solid black; 
    margin-top: 10%; 
    padding-bottom: 2.5%;
    padding-top: 2.5%; 
}

#email-label {
    margin-left: 2.5%; 
}

.btn {
    background: white; 
    border: 2px solid black; 
    border-radius: 0; 
    margin-left: 2.5%; 
}

.btn:hover {
    background: black; 
    color: white; 
    transition: 0.3s; 
}

/* Footer */

.footer {
    background-color: black; 
    color: white; 
    margin-top: 10%; 
}

/* Media Queries */

@media (max-width: 640px) {
    .about-section {
        border: none;
        margin-left: 5%;
        margin-right: 5%;
    } 
    
    p {
        padding-left: 2%; 
        padding-right: 2%;  
    }
    
    #mailing-list {
        border: none;
        margin-left: 5%;
        margin-right: 5%;

    }
    
    input {
        padding-left: 2%; 
        padding-right: 2%;    
    }
    
    button {
        margin-top: 2.5%;
    }
}

@media (min-width:640px) and (max-width: 768px) {
    
    .about-section {
        border: none;
        margin-left: 5%;
        margin-right: 5%;
    } 
    
    p {
        padding-left: 2%; 
        padding-right: 2%;  
    }
    
    #mailing-list {
        border: none;
        margin-left: 5%;
        margin-right: 5%;

    }
    
    input {
        padding-left: 2%; 
        padding-right: 2%;    
    }
    
    button {
        margin-top: 2.5%;
    }
    
}

